appnope==0.1.0
attrs==19.3.0
Automat==0.8.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
blis==0.4.1
bs4==0.0.1
catalogue==1.0.0
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cloudpickle==1.2.2
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
dask==2.10.1
decorator==4.4.1
defusedxml==0.6.0
distributed==2.10.0
en-core-web-sm==2.2.5
entrypoints==0.3
future==0.18.2
HeapDict==1.0.1
hyperlink==19.0.0
idna==2.8
importlib-metadata==1.4.0
incremental==17.5.0
ipykernel==5.1.4
ipython==7.11.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
jedi==0.16.0
Jinja2==2.11.0
jsonlines==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
kiwisolver==1.1.0
llvmlite==0.31.0
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
msgpack==0.6.2
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
nltk==3.4.5
notebook==6.0.3
numba==0.48.0
numbskull==0.1.1
numpy==1.18.1
pandas==0.25.3
pandocfilters==1.4.2
parsel==1.5.2
parso==0.6.0
pexpect==4.8.0
pickleshare==0.7.5
plac==1.1.3
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.3
Protego==0.1.16
psutil==5.6.7
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
Pygments==2.5.2
PyHamcrest==2.0.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrallel.lib==0.0.5
pyrsistent==0.15.7
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
queuelib==1.5.0
rdflib==4.2.2
requests==2.22.0
rltk==2.0.0a14
scipy==1.2.1
Scrapy==1.8.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.14.0
snorkel==0.7.0b0
sortedcontainers==2.1.0
soupsieve==2.0
spacy==2.2.3
SPARQLWrapper==1.8.5
SQLAlchemy==1.3.13
srsly==1.0.1
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
thinc==7.3.1
toolz==0.10.0
torch==1.4.0
tornado==6.0.3
tqdm==4.42.0
traitlets==4.3.3
treedlib==0.1.2
Twisted==19.10.0
typing==3.7.4.1
ujson==1.35
urllib3==1.25.8
w3lib==1.21.0
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
zict==1.0.0
zipp==2.1.0
zope.interface==4.7.1
