<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Game Recommendations Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
		<link rel="stylesheet" href="static/css/w3.css"/>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<script type="text/javascript" href="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" href="static/js/jquery.min.js"></script>
	</head>
	<body class="w3-light-gray">

		<!--Nav Bar-->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/">Dash Board</a></li>
					<li><a href="/query">Query Page</a></li>
					<li><a href="/visualize">Visualizations</a></li>
					<li class="active"><a href="/game">Game Page</a></li>
				</ul>
			</div>
		</nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <div class="w3-card-4 w3-padding w3-gray">
                        <header class="w3-dark-gray w3-center">
                            <h1>Empyre: Lords of the Sea Gates</h1>
                        </header>

                        <h4>Game Summary:</h4>
                        <p>Featuring a top-down isometric presentation, Empyre: Lords of the Sea Gates will rekindle old-school PC RPG fans with feelings of some of
                            the classic story driven RPGs of the 90s. While the combat should feel familiar to veteran players, there’s a new twist in that the game
                            uses a hybrid Real Time/Turn-based System. Players can enter a “Planning Mode” where they choose actions for each character in their party
                            while combat is paused, and when entering into the “Action Mode” all characters will perform simultaneously, giving players complete control
                            over their party while presenting a streamlined combat system that eliminates waiting for each character to act in sequence.</p>

                        <h4>Released Year:</h4>
                        <p>2017</p>

                        <h4>Supported Platforms:</h4>
                        <p>PC (Microsoft Windows)</p>

                        <h4>Developers:</h4>
                        <p>Coin Operated Games</p>

                        <h4>Publishers:</h4>
                        <p>Coin Operated Games</p>

                        <h4>Game Modes:</h4>
                        <p>Single player</p>

                        <h4>Genres:</h4>
                        <p>Adventure, Role-playing (RPG), Strategy</p>

                        <h4>Themes:</h4>
                        <p>Fantasy, Historical</p>

                        <h4>Rating:</h4>
                        <p>86</p>

                        <h4>Seller:</h4>
                        <a>GK Trade</a>

                        <h4>Price:</h4>
                        <p>8.29 USD</p>

                        <h4>Discount:</h4>
                        <p>52 % OFF</p>

                        <h4>Purchase Link:</h4>
                        <a href="https://www.g2a.com/en-us/galactic-inheritors-steam-gift-global-i10000001739001">https://www.g2a.com/en-us/galactic-inheritors-steam-gift-global-i10000001739001</a>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row w3-padding-32"><br><br></div>
            <div class="row">
                <h3>More to consider:</h3>
            </div>

            <div class="row w3-padding-32">

                <div class="col-lg-2">
                    <div class="w3-card-4 w3-gray w3-padding">
                        <a>Empyre: Lords of the Sea Gates</a>
                        <p>Rating: 98</p>
                    </div>
                </div>

                 <div class="col-lg-2">
                    <div class="w3-card-4 w3-gray w3-padding">
                        <a>Empyre: Lords of the Sea Gates</a>
                        <p>Rating: 98</p>
                    </div>
                </div>

                 <div class="col-lg-2">
                    <div class="w3-card-4 w3-gray w3-padding">
                        <a>Empyre: Lords of the Sea Gates</a>
                        <p>Rating: 98</p>
                    </div>
                </div>

                 <div class="col-lg-2">
                    <div class="w3-card-4 w3-gray w3-padding">
                        <a>Empyre: Lords of the Sea Gates</a>
                        <p>Rating: 98</p>
                    </div>
                </div>

                 <div class="col-lg-2">
                    <div class="w3-card-4 w3-gray w3-padding">
                        <a>Empyre: Lords of the Sea Gates</a>
                        <p>Rating: 98</p>
                    </div>
                </div>

            </div>
        </div>

	</body>
</html>