<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Game Recommendations Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/w3.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<script>
      	$(document).ready(function() {

			$('#visualizeBtn').click(function(){

				var class_name = $("#class_name").val();
				var property_name = $("#property_name").val();
				console.log(class_name, property_name);
				console.log("hello world");

				var cur_url = "http://127.0.0.1:5000/getVisualizationData"
				Plotly.d3.json(cur_url).get(function (err, rows) {

					x_vals = [];
					y_vals = [];
					for(var key in rows) {
					  var value = rows[key];
					  x_vals.push(key);
					  y_vals.push(value);
					}

					console.log(x_vals);
					console.log(y_vals);

					var data = [
					  {
						x: x_vals,
						y: y_vals,
						type: 'bar'
					  }
					];

					Plotly.newPlot('plot_1', data);

					var data2 = [{
					  values: y_vals,
					  labels: x_vals,
					  type: 'pie'
					}];

					Plotly.newPlot('plot_2', data2);

				});
			});
		});

		</script>

	</head>
	<body class="w3-light-gray">

		<!--Nav Bar-->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/">Dash Board</a></li>
					<li><a href="/query">Query Page</a></li>
					<li class="active"><a href="/visualize">Visualizations</a></li>
					<li><a href="/game">Game Page</a></li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="w3-container w3-dark-gray w3-padding">
				  <h2>Visualize the Class properties</h2>
				</div>
				<div class="w3-card-4 w3-gray">
					<form class="w3-container w3-padding-32">
						<label>Class Name:</label>
						<select class="w3-select" name="class_name" id="class_name">
						  <option value="" disabled selected>Choose the class name</option>
						  <option value="1">Option 1</option>
						  <option value="2">Option 2</option>
						  <option value="3">Option 3</option>
						</select>

						<label>Property Name:</label>
						<select class="w3-select" name="property_name" id="property_name">
						  <option value="" disabled selected>Choose the property name</option>
						  <option value="1">Option 1</option>
						  <option value="2">Option 2</option>
						  <option value="3">Option 3</option>
						</select>
					</form>
					<button class="w3-btn w3-blue-grey w3-right w3-margin-top w3-round" id="visualizeBtn">Visualize!</button>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>

		<div class="row w3-padding-64">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">

				<div class="w3-container w3-dark-gray">
				  <h2>Bar Plot</h2>
				</div>

				<div id="plot_1"></div>

			</div>
			<div class="col-lg-2"></div>
		</div>

		<div class="row w3-padding-64">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">

				<div class="w3-container w3-dark-gray">
				  <h2>Pie Chart</h2>
				</div>

				<div id="plot_2"></div>

			</div>
			<div class="col-lg-2"></div>
		</div>

	</body>
</html>