<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
		<title>Game Recommendations Engine</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/w3.css"/>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/skel.min.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<script type="text/javascript" href="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" href="static/js/jquery.min.js"></script>
	</head>
	<body class="w3-light-gray">

		<!--Nav Bar-->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a href="/">Dash Board</a></li>
					<li><a href="/query">Query Page</a></li>
					<li class="active"><a href="/visualize">Visualizations</a></li>
					<li><a href="/game">Game Page</a></li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8">
				<div class="w3-container w3-dark-gray w3-padding">
				  <h2>Visualize the Class properties</h2>
				</div>
				<div class="w3-card-4 w3-gray">
					<form class="w3-container w3-padding-32">
						<label>Class Name:</label>
						<select class="w3-select" name="option">
						  <option value="" disabled selected>Choose the class name</option>
						  <option value="1">Option 1</option>
						  <option value="2">Option 2</option>
						  <option value="3">Option 3</option>
						</select>

						<label>Property Name:</label>
						<select class="w3-select" name="option">
						  <option value="" disabled selected>Choose the property name</option>
						  <option value="1">Option 1</option>
						  <option value="2">Option 2</option>
						  <option value="3">Option 3</option>
						</select>

						<button class="w3-btn w3-blue-grey w3-right w3-margin-top w3-round">Visualize!</button>
					</form>
				</div>
			</div>
			<div class="col-lg-2"></div>
		</div>

	</body>
</html>